@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
:root {
  --heading:#72a107;
  --primary: :rgb(93, 92, 92);
  --secondary: #f2f0f0;
  --dark: #181818f6;
 
}
body {
  background: var(--secondary);
  font-family: "Varela Round";
  text-decoration: none;
}

.one{
  colour:white;
}



a {
  text-decoration: none;
  margin-left: 20px;
  color:rgb(93, 92, 92);
  font-size: 18px;
  

}

.container{
                
  margin-left: 12%;
  margin-right:12%;
}




.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}



.test{
  align-items: center;
  justify-items: center;
  cursor: pointer;
  font-weight: 100;

}
